{:deps    {
           org.clojure/clojure             {:mvn/version "1.10.2-alpha1"}
           org.clojure/clojurescript       {:mvn/version "1.10.764"}

           com.bhauman/figwheel-main       {:mvn/version "0.2.3"}
           com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}

           org.clojure/core.async          {:mvn/version "0.4.500"}
           org.clojure/spec.alpha          {:mvn/version "0.2.176"}
           org.clojure/test.check          {:mvn/version "0.10.0"}
           prismatic/schema                {:mvn/version "1.1.12"}
           tupelo                          {:mvn/version "20.07.21"}
           }

 :paths   ["src" "test"
           "target" "resources"]

 :aliases {
           :ancient   {:main-opts  ["-m" "deps-ancient.deps-ancient"]
                       :extra-deps {deps-ancient {:mvn/version "RELEASE"}}}
           :fig       {:main-opts ["-m" "figwheel.main"]}
           :build-dev {:main-opts  ["-m" "figwheel.main" "--build" "dev" "--repl"]
                       :extra-deps {tupelo {:local/root "/Users/r634165/tupelo/target/uberjar/tupelo-0.9.XXXXX-standalone.jar"}}
                       }
           }
 }

